%script{:src => "use.typekit.net/yuu5dpc.js"}
#banner
  .banner_content
    %h1 Beardos
    %p Web, Web-aplications, Standalone Apps, Hosting, Wordpress, UI, Web-Design
    %button= link_to "Contact Us", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "whatever you want here"
    %p.name - Beardos
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
  .wrapper
    %h2 Fuck yeah!
    %p I want you to contact you... If you don’t. I will find you!
    %button= link_to "Contact us", new_user_registration_path

%footer
  %p &copy; beardos.co.nz

