%script{:src => "use.typekit.net/yuu5dpc.js"}
#banner
  .banner_content
    =image_tag  "beardos.png", :class => "icona"
    %h1 Beardos
    %p Web-aplications * Standalone Applications * Hosting * Wordpress * UI * Web-Design * Logo-Design,
    %button= link_to "Ask for quote", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "whatever you want here"
    %p.name - Beardos
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Websites
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Design
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Hosting
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
  .wrapper
    %h2 WE ARE BEARDOS!
    %p I want you to contact you... If you don’t. I will find you!
    %button= link_to "Contact us", new_user_registration_path

%footer
  %p &copy; beardos.co.nz

